NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Any value works here, should be somewhat secure
PAYLOAD_SECRET=

# Database - either MongoDB or Postgres work
MONGODB_URL=

# Payments
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# Email
RESEND_API_KEY=

# if you face any ts-node error 
# You need to install ts-node as global
